
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.edit {
    width: 60%;
    height: 40%;
    background-color: rgb(61, 165, 82);
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p {
    font-size: 1.5em;
    max-width: 400px;
    line-height: 1.5;
}
img#robo {
    width: 30%;
    position: absolute;
    top: 40%;
    left: 65%;

}
img#robo2 {
    width: 30%;
    position: absolute;
    top: 120%;
    left: 65%;

}
img#robo3 {
    width: 30%;
    position: absolute;
    top: 190%;
    left: 65%;

}

img#logo {
    width: 60px;
}
div#diferente {
    list-style-type: none;
    background-color: rgb(61, 165, 82);
    background-size: 50vh;
}
img#ifpr {
    width: 200px;
    transform: translate(400px, -110px);
}
a#cor {
    color: white;
}
img#faz {
    transform: translate(800px, -380px);
}
img#engrena1 {
    width: 18%;
    position: absolute;
    top: 10%;
    left: 80%;
}
img#engrena2 {
    width: 18%;
    position: absolute;
    top: 80%;
    left: 80%;
}
img#engrena3 {
    width: 18%;
    position: absolute;
    top: 160%;
    left: 80%;
}
h5#credito {
    color: white;
}
